:root {
  --bg-desktop: url('../images/bg.jpg');

}

@font-face {
  font-family: "Dana";
  font-weight: 400;
  font-display: swap;
  src: url("../docs/fonts/Dana.ttf") format("truetype");
}

@font-face {
  font-family: "Dana Medium";
  font-weight: 500;
  font-display: swap;
  src: url("../docs/fonts/Dana-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Dana DemiBold";
  font-weight: 600;
  font-display: swap;
  src: url("../docs/fonts/Dana-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Alibaba Light";
  font-weight: 100;
  font-display: swap;
  src: url("../docs/fonts/Alibaba-Light.otf") format("opentype");
}

@font-face {
  font-family: "Alibaba Medium";
  font-weight: 300;
  font-display: swap;
  src: url("../docs/fonts/Alibaba-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Alibaba Bold";
  font-weight: 900;
  font-display: swap;
  src: url("../docs/fonts/Alibaba-Bold.otf") format("opentype");
}

.container {
  @apply mx-auto px-4 md:px-2;
}

.clippath {
  clip-path: polygon(100% 0%, 0% 0%, 0% 96%, 50% 100%, 100% 96%);
}
.submenu {
  @apply mr-5 pr-3 child:p-0.5 text-zinc-600 dark:text-white overflow-hidden max-h-0 opacity-0 transition-all duration-300 ease-in-out;
}

.submenu--open {
  max-height: 500px;      /*  مقدار عددی قابل انیمیشن */
  opacity: 1;
  margin-top: 0.5rem;    
}
.menu-active-link{
  @apply text-violet-300 underline underline-offset-[.8rem]
}
.mobile-menu-active-link{
  @apply inline-block bg-violet-200/30  w-[80%] p-0.5 rounded-lg pr-1.5
}
#submenu-watches .mobile-menu-active-link{
  @apply  w-full rounded-none 
}

#loading {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  top: 0;
  bottom: 0;
  background: rgb(89, 0, 134);

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}